tb/build
*.o
*.a
*.gch
src/build
src/main.elf
src/*.bin
src/*.hex
src/neorv32_imem_image.vhd
riscv-gnu-toolchain/
*.vcd
*.fst
sim_output.txt
test_output.txt
test/auto-grader/
test/__pycache__/
.vscode
.codex
*.swp
.DS_Store
tb/neorv32_verilog_wrapper
